/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.1em;
    color: #333;
    background-color: #fff;
}

/* Header */
header {
    width: 650px;
    margin: 1rem auto;
}

h1 {
    text-align: center;
    color: navy;
    font-size: 1.5rem;
}

/* Form */
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

/* Form Items */
.form-item {
    display: grid;
    align-items: center;
}

/* Column Layouts */
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

/* Form Elements */
label,
input,
select,
textarea,
button {
    font-family: Roboto, Arial, sans-serif;
}

/* Labels */
label {
    text-align: right;
    padding-right: 1rem;
}

/* Inputs */
input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

/* Checkbox */
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

/* Button */
button {
    margin: 1rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: navy;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

/* Footer */
footer {
    width: 650px;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
}