* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

main {
    max-width: 600px;
}

main img {
    width: 140px;
    height: auto;
    border: 1px solid steelblue;
    padding: 3px;
    box-shadow: 0 0 25px gray;
    float: right;
    margin: 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 130px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(216, 207, 207);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}