* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: steelblue;
    --light-bg: #eee;
    --dark-text: #333;
    --border-color: #000;
    --shadow-color: gray;

    /* Spacing */
    --small-padding: 10px;
    --image-padding: 2px;
    --section-margin: 1em;

    /* Borders */
    --standard-border: 1px solid var(--primary-color);
    --light-border: 1px solid rgba(0, 0, 0, 0.2);

    /* Sizes */
    --main-max-width: 840px;
    --profile-img-width: 150px;
    --aside-img-width: 200px;
}

main {
    max-width: var(--main-max-width);
}

nav {
    background-color: var(--primary-color);
    padding: var(--small-padding);
}

nav a {
    color: var(--light-bg);
    padding: var(--small-padding);
    display: block;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: var(--profile-img-width);
    height: auto;
    border: var(--standard-border);
    padding: var(--image-padding);
    box-shadow: 0 0 30px var(--shadow-color);
    /* you most likely will have other CSS declarations here */
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: var(--section-margin);
    border: var(--light-border);
    padding: var(--section-margin);
    background-color: var(--light-bg);
    color: var(--dark-text);
    text-align: center;
}

aside img {
    width: var(--aside-img-width);
    height: auto;
}

aside h2 {
    position: absolute;
    right: auto;
}

footer {
    margin-top: var(--section-margin);
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* class selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 1);
    padding: 1rem;
    background-color: white;
    color: #000;
}

aside {
    width: 20rem;
    text-align: center;
}