* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
    padding: 1rem;
    border-bottom: #0e0101;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

main {
    max-width: 600px;
    grid-column: 2;
}

main img {
    width: 140px;
    height: auto;
    border: 1px solid steelblue;
    padding: 3px;
    box-shadow: 0 0 25px gray;
    float: right;
    margin: 0 1rem 1rem;
}

p {
    margin: 1rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;

}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 130px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(216, 207, 207);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: auto;
}